
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://img.freepik.com/foto-gratis/abstracto-borroso-interior-hospital-o-clinica-fondo-azul_293060-5805.jpg') no-repeat center center fixed;
    background-size: cover;
}


header {
   background-color: #1c8c8c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    text-decoration: underline;
}

/* FORMULARIO */
main {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-section {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

.form-section h2 {
    text-align: center;
    color: #007bff;
}

.form-section p {
    text-align: center;
    color: #333;
}

.form-cita {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}


footer {
    background-color: #1c8c8c;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}
